body{
    background-color: #646161;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 h1{
    color: #fff;
    text-align: center;
 }

 ol{
    color: #fff;

    a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
    }
    a:hover{
        color: #000;
    }

 }