

body{
    max-width: 1200px;
    margin:auto;
  }
  
  header{
    text-align: center;
  }
  
  .carousel-wrapper{
    display:flex;
    justify-content: space-between;
    min-height:70vh;
  }
  
  .carousel{
    position:relative;
    flex:1;
  }
  
  .carousel-item{
    position:absolute;
    height:100%;
  }
  
  img{
    max-height: 100%;
    max-width: 100%;
  }
  
  .flex-center{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow{
    min-width: 10vw;
    background: #000000a3;
    color:#fff;
    cursor:pointer;
  }