*{
    box-sizing: border-box;
  }
  
  body{
    min-height: 100vh;
    margin:0;
    padding:20px;
    display:flex;
    flex-direction: column;
    gap:10px;
  }
  
  h1{
    margin:0;
  }
  
  main{
    flex:1;
    display:flex;
    justify-content: center;
  }
  
  .weather-item{
    border:2px solid blue;
    display:flex;
    gap:10px;
    justify-content: center;
  }
  
  .weather-image{
    width: 75px;
  }
  
  .forecast-wrapper{
    display: flex;
    border:1px solid #000;
    overflow-x: auto;
    gap:10px;
  }