*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    background-color: #000;
    
    
}

.grid-container{
    display: grid;
 
}
.container{
    display: grid;
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px ;
    grid-template-rows: 50px 50px 50px 50px 50px;
    width: 100%;

    border: 1px solid #dd2e2e;
}

